.nav-container{
    background-color: #fff8f0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.nav-link{
    text-decoration: none;
color: #4b2e2e;
font-size: 1rem;
font-weight: 500;
transition: color 0.3s ease;
}
.nav-link:hover {
    color: #ff7f50;
  }